.mm{
    &-opened{
        overflow-y: scroll;
    }
    &-navbar__title{
        display: flex;
        justify-content: center;
        margin-top : 10px;
        margin-bottom : 10px;
        img{
            width: 125px;
            height: auto;
        }
    }
    &-menu_theme-black{
        --mm-color-background-emphasis: rgba( 0,0,0, 0.15 );
    }
    &-listitem{
        transition: 0.5s all ease;
        text-transform: uppercase;
        &__text{
            i{
                margin-right: 7px;
            }
        }
        &:hover{
            color: $accent;
        }
        &_selected{
            background-color: black;
            color: $accent;
        }
        &::after{
            visibility: hidden;
        }
    }
}