@import 'vars';
.mm-opened{
	overflow-y: scroll;
}
.heading-bottom:nth-child(3){
	white-space: normal;
}
.site-header{
    min-height: 700px;
    background-repeat: no-repeat;
    .top-line{
        padding-top : 20px;
        position: absolute;
        width: 100%;
        z-index: 1;
        .logo{
            margin-left: 45px;
            width: 125px;
            height: auto;
        }
        .phone{
            position: absolute;
            top: 32px;
            right: 85px;
            i {
                color: $gray;
            }
            &-label{
                margin-left: 3px;
                font-family: 'w-firasans';
                font-style: 22px;
                white-space: nowrap;
            }
        }
        .menu{
            position: absolute;
            right: 8px;
            .hamburger-inner{
                &, &::after, &::before{
                    height: 2px;
                    width: 34px;
                    background-color: #fff;
                    border-radius: 0;
                }
            }
        }
    }
}
.mm-navbar__title{
    display: flex;
    justify-content: center;
    margin-top : 10px;
    margin-bottom : 10px;
    img{
        width: 125px;
        height: auto;
    }
}
.mm-menu_theme-black{
    --mm-color-background-emphasis: rgba( 0,0,0, 0.15 );
}
.mm-listitem{
    transition: 0.5s all ease;
    text-transform: uppercase;
    &__text{
        i{
            margin-right: 7px;
        }
    }
    &:hover{
        color: $accent;
    }
    &_selected{
        background-color: black;
        color: $accent;
    }
    &::after{
        visibility: hidden;
    }
}
.header{
    &-welcome, &-heading, &-location, .btn-heading{
        display: flex;
        justify-content: center;

    }
    &-row-bottom{
        display: flex;
        justify-content: center;
        border-top: $gray 1px solid;
        padding-top: 5px;
    }
    &-welcome{
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
        &::before{
            content: '';
            background-color: #fff;
            height: 1px;
            width: 20%;
            position: absolute;
            top: 50%;
            left: 0;
        }
        &::after{
            content: '';
            background-color: #fff;
            height: 1px;
            width: 20%;
            position: absolute;
            top: 50%;
            right: 0;
        }
    }
    &-heading{
        text-transform: uppercase;
        font-size: 67px;
        font-weight: 100;
        white-space: nowrap;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            height: 1px;
            width: 100%;
            bottom: 0;
            background-color: #fff;
        }
    }
    &-location{
        margin-top: 35px;
        margin-bottom: 35px;
        text-transform: uppercase;
        i{
            margin: 5px;
        }
    }
    &-description{
        padding-bottom: 30px;
    }
    &-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10%;
        &-fluid{
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top : 95px;
        }
    }
    &-content{
        color: #fff;
        i{
            color: $gray;
        }
    }
}

.btn-heading{
    margin: auto;
    display: flex;
    font-size: 13px;
    font-weight: semibold;
    text-justify: auto;
    text-transform: uppercase;
    background-color: $accent;
    letter-spacing : 3px;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 15px 40px;
}

.header-sidebar{
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: solid 1px $gray;
}