.partners{
    .container-partners{
        min-height: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .owl-nav{
        width: 75vw;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: -9vw;
        top: 20px;
        button{
            &:active,&:focus{
                outline: none;
                border: none;
            }
        }
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/bg-3.jpg');
    min-height: 300px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color: white, $alpha: 0.8);
        z-index: 1;
    }
    .partner-wrapper{
        margin: 0px 0px;
        height: 100%;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 30px;
            font-weight: extraBold;
            text-transform: uppercase;
            color: $accent;
            margin-bottom: 35px;
        }
    }
    .owl-item{
        margin: 0px 30px;
        top: 0;
    }
    .owl-stage{
        display: flex;
        align-items: center;
    }
    .owl-carousel-partners{
        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            // min-height: 110px;
            img{
                min-width: 150px;
                background-repeat: no-repeat;
            }
        }
    }
}