.services{
	.owl{
		&-dots{
			visibility: hidden;
			display: none;
		}
		&-carousel{
			position: relative;
			&-services-item{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				opacity: 0.8;
				&:hover{
					opacity: 1;
				}
				&.blue{
					background-color: $blue;
				}
				&.red{
					background-color: $red;
				}
				&.orange{
					background-color: $accent;
				}
				&-content{
					color: white;
					height: 50%;
					margin: auto;
					margin-top: 20px;
					margin-bottom: 20px;
				}
				.service{
					text-transform: uppercase;
					font-weight: light;
					margin-bottom: 20px;
					&-name{
						text-transform: uppercase;
						font-size: 24px;
						font-weight: bold;
					}
					&-equal{
						height: 50%;
					}
				}
				.logo{
					width: 100px;
					margin: auto;
				}
				.price-list-item{
					position: relative;
					&::after{
						content: '';
						position: absolute;
						width: 100%;
						height: 1px;
						bottom: 0;
						background-color: #fff;
					}
					&-name{
						display: flex;
						flex-direction: row;
						justify-content: center;
						position: relative;
						margin-bottom: 10px;
					}
					&-price{
						margin-left: 5px;
						color: $dark;
						font-weight: bold;
					}
				}
				.service,.service-name{
					text-align: center;
				}
				.btn-pricing{
					display: flex;
					margin: auto;
					text-transform: uppercase;
					letter-spacing: 3px;
					border: none;
					margin-top: 20px;
					font-size: 13px;
					padding: 5px 10px;
					border-radius: 5px;
					font-weight: bold;
					@extend %shadow;
				}
			}
		}
		&-item{
			&:nth-child(2n){
				.owl-carousel-services-item{
					flex-direction: column-reverse;
				}
			}
		}
		&-nav{
			width: 100%;
			position: absolute;
			top: 0;
			display: flex;
			justify-content: space-between;
		}
	}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
		background-color: #fff;
		color: inherit;
		border: none;
		padding: 10px 10px !important; 
		font: inherit;
	}	
}