// User variables:
$default-font:'w-raleway';
$accent: #f9c766;
$accent-alpha : rgba($color: $accent, $alpha: 0.8);
$accent-transp : rgba($color: $accent, $alpha: 0);
$blue : #66c7cd;
$red : #f86868;
$text-color: #333;
$dark : #151515;
$gray : #505050;
$icon-color: #2c2c2c;
%shadow{
    box-shadow: 0px 3px 0px rgba($color: $gray, $alpha: 0.5);
}

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
