@import 'vars';
@import 'fonts';
@import 'libs';
@import'header';
@import'carousel';
@import'gallery';

a, a:hover{
	text-decoration: none;
	color: #fff;
	.label{
		color: #fff;
	}
}

ul{
	list-style: none;
}

::placeholder{
	color: #666;
}

::selection{
	background-color: $accent;
	color: #fff;
}

input, textarea{
		outline: none;
	&:focus:required:invalid{
		border-color: red;
	}
	&:required:valid{
		border-color: green;
	}
}

body{
	font-size: 16px;
	min-width: 320px;
	min-height: 100vw;
	position: relative;
	line-height: 1.75;
	opacity: 1;
	font-family: $default-font, sans-serif;
	overflow-x: hidden;
	color: $text-color;
}

.soc-icon{
	position: relative;
	background-color: $gray;
	margin-bottom: 20px;
	//border-radius: 50%;
	padding: 5px 10px;
	border-radius: 50%;
	i{
		color: $icon-color;
	}
	&:first-child{
		padding: 5px 15px;
	}
	&:nth-child(3){
		padding: 5px 13px;
	}
}

section,header{
	position: relative;
	background-size: cover;
	background-position: center center;
}

section{
	background-color: #fff;
}

.container{
	&-gallery{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	max-width: 1000px;
	padding-right: $gutter/2;
	padding-left: $gutter/2;
	margin-left: auto;
	margin-right: auto;
}

.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

.example-grid{
	display: grid;
	grid-gap: $gutter;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "left right";
	div:first-child{
		grid-area: left;
	}
	div:last-child{
		grid-area: right;
	}
}
	
.example-img{
	width: 100%;
}

.parent{
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3fyH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
} // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/

@import'media';